.div{
    width: 100%;
    height: 100%;
    background-color: rgb(178, 181, 195);
}
.detail{
    width: 100%;
    height: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
}
.image{
    
    float: left;
    width: 55%;
}
.image img{
    width: 100%;
    height: auto;
}
.info{
    float: right;
    width: 40%;
}
.info h3{
    margin-top: 20px;
    color: #262424;
}
/* .info{
    float: left;
    width: 55%;
}
.image{
    float: right;
    width: 40%;
} */