.home{
    background-color: rgb(178, 181, 195);
  }
  .homePage {
      margin-top: 50px;
      text-align: center;
      font-size: 40px;
    }
    .movies {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      
    }
    .links{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    }
    .links a {
      text-decoration: none;
      color: white;
      margin-left: 20px;
      margin-right: 10px;
      font-size: 25px;
      align-items: center;
      justify-content: center;
    }
    .movie{
      background-color: rgb(154, 138, 109);
      border: 2px solid black;
      width: 300px;
      height: 350px;
      margin: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
    h1{
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .search{
      width: 100%;
    border: transparent;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 34px;
    background-color: rgb(87, 122, 122);
    }
    input{
      width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    }
    
    .movie img {
      width: 300px;
    }
    
    .movie .description {
      text-align: center;
    }
    
    .movie:hover {
      transition: 0.3s ease-in;
      cursor: pointer;
    }
    
    .details {
      background-color: transparent;
      border: 2px solid rgb(19, 19, 19);
      min-width: 100px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 15px;
    }
    
    .details:hover {
      background-color: rgb(19, 19, 19);
      color: white;
      cursor: pointer;
    }